/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

.fa-youtube-play {
	color: white;
  }


/* Custom Styles */



main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 1.5rem;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

/* Theme */

main {
	background: #006D5B;
	color: #e9c46a;
}

h2{
	margin-top: 30px;
	font-family: 'Bebas Neue', cursive;
}

.personal a{
}

.icons-social a {
	color: #e9c46a;
}

.tagline{
	color: #e9c46a;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.bi-youtube{
	font-family: 'Reem Kufi', sans-serif;
}

.personal{
	font-family: 'Helvetica', sans-serif sans;
	font-size: small;   
}

.gamesite {
	font-family: 'Bebas Neue', cursive;
	font-style: normal;
}

.drip{
	font-family: 'Bebas Neue', cursive;
	font-size: x-small;
	font-style: normal;
}

.market{
	font-size:1rem;
}


footer{
	position: fixed;
	margin: auto;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #006D5B;
	color: #e9c46a;
	text-align: center;
  }

  
